#theme--context {
    --bg-color: var(--white-color);
    --border-color: var(--black-color);
    --text-color: var(--black-color);
}

#theme--context[data-theme="dark"] {
    --bg-color: var(--black-color);
    --border-color: var(--white-color);
    --text-color: var(--white-color);
}