.lobby-wrap {
    --aside-width: 220px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-color: var(--bg-color);
    color: var(--text-color);
    gap: 1rem;
}

.lobby-wrap[data-display-type="collapsed"] {
    --aside-width: 80px;
}

.lobby-aside-layout {
    position: fixed;
}

.lobby-section {
    flex: 1;
    margin-left: var(--aside-width, 220px);
}