.header {
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-bottom: 2px solid var(--border-color);
}

.toggle-wrap {
    width: 100%;
    text-align: right;
}

.toggle-btn {
    border: none;
    background: none;
    box-sizing: border-box;
    cursor: pointer;

    color: var(--text-color);
    font-weight: 900;
    font-size: 11px;
}

.toggle-icon {
    width: 18px;
    height: 18px;
    object-fit: cover;
    object-position: center;
}

.logo {
    object-fit: cover;
    object-position: center;
    vertical-align: sub;
    width: 86px;
    height: 86px;
}

.logo-collapsed {
    width: 64px;
    height: 64px;
}

.logo-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-text {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.4em;
}
