.login-button-inline-box {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.login-button-inline-box[data-display-type="expanded"] {
    border: 1px solid var(--border-color);
    display: flex;
    box-sizing: border-box;
    background-color: var(--bg-color, #ffffff);
    border-radius: 10px;
    padding: 5px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}


@keyframes zoomIn {
    from {
        transform: scale(1);
        background-color: var(--bg-color);
        color: var(--text-color);
    }
    to {
        transform: scale(1.1);
        background-color: var(--text-color);
        color: var(--bg-color);
        font-weight: 700;
    }
}
.login-button-inline-box[data-display-type="expanded"]:hover {
    animation: zoomIn 0.5s forwards;
}

.login-button-icon {
    width: 24px;
    width: 24px;
    overflow: hidden;
}

.login-button-icon[data-display-type="collapsed"] {
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    padding: 10px;
    object-fit: cover;
    object-position: center;
}